
kind: Deployment
apiVersion: apps/v1
metadata:
  name: hello
  namespace: kajetan
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 300
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
        - name: hello-ctr
          image: nginx:alpine
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          env:
            - name: APP_NAME
              value: "hello"
            - name: ENV
              value: "dev"
          ports:  
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: hello-svc
  namespace: kajetan
  labels:
    app: hello
spec:
  type: LoadBalancer
  ports:
    - port: 80
      protocol: TCP
  selector:
    app: hello-error        
          

