.DS_Store
node_modules/
secrets.py
azure_secrets.py
iot_secrets.py
uc8100/
*/handout/pwn/lib
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash/
*.log
*.tfvars

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build folders
/bin/
/build/
/dist/

# Go module files (optional, usually keep go.mod/go.sum)
go.sum

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
